spring:
  application:
    name: audit-service

  datasource:
    url: jdbc:postgresql://postgres:5432/audit_service
    username: root
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
      hibernate:
        ddl-auto: none
      show-sql: true

  liquibase:
      change-log: classpath:db/changelog/db.changelog-master.yml

  logging:
    level:
      root: INFO
      org.springframework.jdbc.core: DEBUG

server:
  port: 8084