spring:
  datasource:
    url: jdbc:postgresql://localhost:5440/payment_service
    username: root
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true

logging:
  level:
    root: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE